$primary-background-color: #0F52BA;
$primary-icon-background-color: #000;
$primary-color: #FFFFFF;

.sidebar {
  position: fixed;
  top: 0;
  right: -486px; /* Inicia a barra lateral fora da tela */
  width: 486px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-background-color;
  transition: right 0.9s ease;
  box-shadow: -15px 0px 14px -8px rgba(0,0,0,0.1);
}

.sidebar.open {
  right: 0; /* Move a barra lateral para a tela */
}

.sidebar-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidebar-cart-drawer-wrapper {
  padding: 36px 22px 0 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-size: 28px;
    font-weight: 700;
    color: $primary-color;
  }

  svg {
    cursor: pointer;
    border-radius: 50%;
    background-color: $primary-icon-background-color;
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: opacity(0.8);
    }
  }
}


.sidebar-cart-drawer-wrapper-item {
  padding: 64px 54px 22px 47px;
  
  .cart-drawer-wrapper-item {
    margin-bottom: 1.375rem;
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
    color: #2C2C2C;

    .cart-drawer-wrapper-item-icon {
      text-align: right;
    }
  
    .cart-drawer-wrapper-item-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 25%;
      }
      
      h3 {
        font-size: 0.875rem;
        font-weight: 400;
      }

      .cart-drawer-wrapper-item-set-quantity {
        padding: 4px;
        display: flex;
        align-items: center;
        gap: 12px;
        border: 1px solid #BFBFBF;
        border-radius: 8px;
        
      }

      span {
        font-size: 0.875rem;
        font-weight: 700;
        color: #000;
      }
    }
  }
}

.sidebar-footer-finish-order {
  div {
    padding: 0 63px 42px 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;

    h3 {
      font-size: 28px;
      
    }

    span { 
      font-size: 1.5rem;
    }
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    font-size: 28px;
    font-weight: 700;
    background-color: #000;
    color: #fff;
  }
}